.items{
  background: #fff;
}
.mainPart{
  height:100px;
  padding:30px;
  position: relative;
}
.img{
  width:100px;
  height: 100px;
  float: left;
  /* background: url("../../../assets/todayApply/icon_portrait@2x.png");
  background-size: contain; */
}
.img img{
    width:100px;
  height: 100px;
}
.showName{
  width:320px;
  float: left;
  margin-left: 30px;
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
  .showName div{
    width:100%;
     text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
.name{
  font-size: 32px;
  color: #000000;
  line-height: 32px;
  margin:12px 0;
}

.status{
  width:160px;
  float: right;
  margin-left: 30px;
  text-align: right;
  vertical-align: middle;
}
.statusIcon{
  display: inline-block;
  width:32px;
  height:32px;
  background:url("../../../assets/todayApply/icon_money@2x.png") no-repeat;
  background-size: contain;
  margin-right: 20px;
  /*float: left;*/
}
.type{
  font-size: 32px;
  color: #46B4EB;
  line-height: 32px;
  margin:12px 0;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    overflow: hidden;
}
.money{
  font-size: 26px;
  color: #666666;
  letter-spacing: 0;
  line-height: 32px;
  margin:12px 0;
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Icon{
  display: inline-block;
  width:48px;
  height:48px;
  z-index:10;
  position: absolute;
  right:0;
  top:0;
  background:url("../../../assets/todayApply/icon_lable_public@2x.png") no-repeat;
  background-size: contain;

}

.disabled{
  display: none
}

.location{
  height: 80px;
  line-height: 80px;
  border-top: 1px solid  #E1E1E1;
  font-size: 24px;
  color: #999999;
  background: url("../../../assets/todayApply/icon_store@3x.png") 30px center no-repeat ;
  background-size: 24px,24px;
  padding-left:  80px;
  padding-right: 30px
}
.address{
  display: inline-block;
    width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.locName{
  float: right;
  display: block;
  height: 80px;
  width: 100px;
  line-height: 80px;
  text-align: right;
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .address{
        width: 400px;
    }
    .showName{
      width:250px;
    }
    .money{
      font-size: 22px;}
}
