
.goodsImg{
        margin-top: 130px;
    height: 420px;
   background: #FFFFFF;
}
.goodsImg div{
    width: 480px;
    height: 307px;
    margin: auto;
}
.goodsImg img{
    width: 480px;
    height: 307px;
    margin: 60px 0;

}
.goodsName{
    padding: 24px;
    height: 116px;
    background: #FFFFFF;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    font-size: 34px;
    line-height: 50px;
    color: #333333;
    font-weight: 600
}
.goodsPrice {
    font-size: 48px;
    color: #F04D4D;
    margin-top: 10px;

}
.goodsPrice span:nth-child(1){
    display: inline-block;
    margin-left: 12px;
    font-size: 24px;
    color: #333333;
     font-weight: 400;
}
.goodsPrice span:nth-child(2){
    font-size: 24px;
    color: #999999;
    font-weight: 400;
    display: inline-block;
    padding-left: 6px;
    text-decoration:line-through
}
.goodsContent{
    background: #FFFFFF;
    padding: 30px 30px;

}
.content{
    color: #333333;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 100px;
}
.contentHead{
   font-size: 0;
    color: #333333;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-weight: 600;
    margin: 50px 0;
}
.contentHead span:nth-child(1){
    display: inline-block;
    width: 60px;
    height: 1px;
    border-bottom: 1px solid #666666;
    margin-bottom: 6px;
    margin-right: -5px;
}
.contentHead span:nth-child(2){
    display: inline-block;
    height:15px;
    width: 15px;
    background: url("../../../assets/pointMall/Rectangle2@3x.png") no-repeat right center;
    background-size: contain;
}
.contentHead span:nth-child(3){
    display: inline-block;
    padding: 0 14px;
    font-size:34px;
}
.contentHead span:nth-child(4){
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url("../../../assets/pointMall/Rectangle2@3x.png") no-repeat left center;
   background-size: contain;
}
.contentHead span:nth-child(5){
    display: inline-block;
    width: 60px;
    height: 1px;
    border-bottom: 1px solid #666666;
    margin-bottom: 6px;
    margin-left: -5px;
}
.contents{
    font-size: 28px;
    color: #666666;
    line-height: 40px;

}
.goodsIntrduct{
    font-size: 28px;
    color: #666666;
    line-height: 40px;
    /* letter-spacing: 2px; */

}
.sureButton{
    height: 90px;
    width: 100%;
    background: #0095EB;
    line-height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center
}

.sureButtonDisable{
    height: 90px;
    width: 100%;
    background: #CCCCCC;
    line-height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}


